.contanier-contact{
    width: 100%;
    height: 98vh;
    background-color: var(--color--cinza--escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding-left: 10%;
}

.contanier-contact h4{
    margin-bottom: 30px;
    color: var(--color--branco);
}

p{

    color: var(--color--cinza--light);
}

.contanier-contact article{
    width: 50%;
    align-items: flex-start;
}

.contanier-contact p:nth-child(3){
    margin-bottom: 24px;
}

.contanier-form{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
}

.contanier-form input{
    width: 500px;
    height: 50px;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid var(--color--branco);
    background-color: transparent;
    color: var(--color--branco);
    margin-bottom: 10px;
}

.contanier-form input:focus{
    border: 1px solid var(--color--vermelho--rosa);
}

.contanier-form textarea{
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid var(--color--branco);
    background-color: transparent;
    color: var(--color--branco);
    margin-bottom: 10px;
}

.contanier-form button{
    width: 500px;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--color--vermelho--rosa);
    color: var(--color--branco);
    margin-bottom: 10px;
    margin-top: 10px;
}

.warning{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.8rem;
    width: 500px;
    margin: 10px 0;
}

.iconeWarning{
    color: #ff0000;
    margin-right: 5px;
}

article{
    height: 90%;
}

.contanier-contacts{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.contanier-contacts > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-between;
}

.contanier-contacts > div > p{
    color: var(--color--vermelho--rosa);
    
}