footer{
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color--vermelho--rosa);
}

footer p{
    font-weight: 500;
    color: var(--color--preto);
    font-weight: 500;
}

