.contanier-academy{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color--cinza--medio);
    height: 600px;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    position: relative;
    
}


.contanier-academy-small{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 10%;
}

.contanier-single img{
    border-radius: 8px;
    margin: 20px 0;
}


