.contanier-projects{
    animation: gradient 8s ease infinite;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(30deg, #000,#1C1C1C, #363636, #4F4F4F) no-repeat;
    background-size: 300% 300%;
    justify-content: center;
    align-items: center;
    color: var(--color--black);
    flex-wrap: wrap;
    position: relative;
}

.contanier-projects h2{
    margin-top: 100px;
    margin-bottom: 20px;
}

.contanier-projects-small{
    margin-top: 10%;
}

.contanier-projects-single{
    display: flex;
    flex-direction: row;
    margin: 80px 0;
    flex-wrap: wrap;
}

.contanier-projects-single img{
    width: 600px;
    border-radius: 10px;
    
}

.contanier-infors{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--color--branco);
}

.contanier-infors h4, p{
    margin-bottom: 10px;
}

.contanier-btn button{
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.contanier-btn button:hover{
    background-color: var(--color--vermelho--rosa);
    color: var(--color--branco);
}

.contanier-btn button:first-child{
    background-color: var(--color--vermelho--rosa);
    color: var(--color--branco);
}

.contanier-btn button:first-child:hover{
    background-color: var(--color--cinza--light);
    color: var(--color--preto);
}
