.contanier-skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color--cinza--escuro);
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.contanier-skills > p{
    color: var(--color--cinza--light);
}

.contanier-skills-small{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    justify-content: center;
}

.iconeSkills{
    font-size: 50px;
    margin-bottom: 5px;
    color: var(--color--vermelho--rosa);
}

.contanier-skills h2{
    margin-top: 100px;
    margin-bottom: 80px;
    color: var(--color--black);
}
.contanier-skills-small div{
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 140px;
    border: 1px solid var(--color--vermelho--rosa);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    color: white;

    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    animation: contanierSkills 1s;
}


.contanier-skills-small div:hover{
    background-color: var(--color--branco);
}


/*SVG*/
/*Engrenagens*/
.engrenagem-top-left{
    animation: engrenagem 2s infinite;
    transform: rotate(0deg);
}

/*ANIMAÇÕES*/

@keyframes contanierSkills {
    from{
        transform: translateY(600px);
    }

    to{
        transform: translateY(0);
    }
}

@keyframes engrenagem{
   from{
        transform: rotate(0deg);
   }
   to{
        transform: rotate(360deg); 
   }
}